<header>
  <div class="row">
    <!-- logo -->
    <div class="small-6 columns">
      <a href="https://ontario.ca/page/government-ontario">
        <span class="iconWrapperLongNoBg iconLogoHeader">
          <span class="logo-ontario" aria-hidden="true"></span>
        </span>
        <span class="visually-hidden">Government of Ontario home page</span>
      </a>
    </div>
    <div class="small-6 columns">
        <a href="/fr/page/gouvernement-de-lontario" ng-click="changeLangOnly($event, contentNode.translation, altLang.lang)" class="show-for-large-up header-link right small" lang="fr" hreflang="fr" rel="alternate" analytics-on="" analytics-category="Header" analytics-event="Cabinet Office" analytics-label="français">
          français
        </a>
    </div>
  </div>
</header>