<div class="row columns">
     <h2 class="top-margin-double">{{'ACTIVATE.WELCOME' | translate}}</h2>
</div>

<div class="row columns">
  <p>{{'ACTIVATE.P1' | translate}}</p>
  <div class="smallscreencentre">
    <a [routerLink]="['/selectID']" class="button">{{'ACTIVATE.ONLINE' | translate}}</a>
  </div>
  <p>{{'ACTIVATE.P2' | translate}}</p>
  <p>{{'ACTIVATE.P3' | translate}}</p>
  <p>{{'ACTIVATE.P4' | translate}}</p>
  <div class="smallscreencentre">
    <a class="button">{{'ACTIVATE.PIN' | translate}}</a>
  </div>
  <p>{{'ACTIVATE.P5' | translate}}</p>
  <p>{{'ACTIVATE.P6' | translate}}</p>
</div>
