<div class="row columns">
  <h1 class="top-margin-double smallscreencentre">{{'TERMOFUSE.TITLE' | translate}}</h1>
</div>

<div class="row columns">
  <p class="smallscreencentre">{{'TERMOFUSE.IAGREE' | translate}}</p>
  <ul class="text-left left-margin-half left-padding-half">
    <li>{{'TERMOFUSE.AGG1' | translate}}</li>
    <li>{{'TERMOFUSE.AGG2' | translate}}</li>
    <li>{{'TERMOFUSE.AGG3' | translate}}</li>
    <li>{{'TERMOFUSE.AGG4' | translate}}</li>
  </ul>
  <h3>{{'TERMOFUSE.USEINFOH' | translate}}</h3>
  <p>{{'TERMOFUSE.USEINFO' | translate}}</p>
  <div class="row column smallscreencentre">
    <a [routerLink]="['/activate']" class="button">{{'TERMOFUSE.AGREE' | translate}}</a>
    <a class="button">{{'TERMOFUSE.DISAGREE' | translate}}</a>
  </div>
  <p class="smallscreencentre">{{'TERMOFUSE.CLICKTOCONFIRM' | translate}}</p>
</div>