<div class="row">
    <div class="columns">
        <h2 class="top-margin-double">{{'WELCOME.TITLE' | translate}}</h2>
        <p>{{'WELCOME.INTRO' | translate}}</p>
    </div>
</div>
<div class="row">
    <div class="columns">
        <h3>{{'WELCOME.HOWTOH' | translate}}</h3>
        <p>{{'WELCOME.HOWTO' | translate}}</p>
        <ul>
            <li> {{'WELCOME.ID1' | translate}} <ul>
                    <li>{{'WELCOME.DL' | translate}}</li>
                    <li>{{'WELCOME.PC' | translate}}</li>
                    <li>{{'WELCOME.P' | translate}}</li>
                </ul>
            </li>
            <li> {{'WELCOME.ID2' | translate}} <ul>
                    <li>{{'WELCOME.HC' | translate}}</li>
                    <li>{{'WELCOME.BC' | translate}}</li>
                </ul>
            </li>
        </ul>
        <p>{{'WELCOME.WEBCAM' | translate}}</p>
        <p>{{'WELCOME.INSTALLAPP' | translate}}</p>
        <ul>
            <li><a href="http://example.com/one">{{'WELCOME.CONNECTME' | translate}}</a></li>
            <li><a href="http://example.com/two">{{'WELCOME.CONNECTOR' | translate}}</a></li>
        </ul>
    </div>
</div>